<% stylesheet_link_tag   'dragula'  %>
<%= stylesheet_link_tag   'before_new'  %>
<style>

</style>
<!-- Ruby variables -->
<% chosen_fields = "none" %>

<button href="#" class="btn stickyBtn" onclick="showDragAndDrop();" data-toggle="tooltip" title="Hide or Show the Drag & Drop box"><i id="stickyBtnIcon" class=" fa fa-chevron-down fa-5x" ></i></button>

<div class='examples'>
	<div class='parent'>
		<h1>Choose your spending categories this week:</h1>
		<ul id='right-defaults' class=' col-sm-12' style="border: 2px dashed green; min-height:200px; margin-bottom: 15px; padding: 10px;"> </ul>
		<div class='wrapper col-sm-12'>
			<ul id='left-defaults' class='col-sm-12' style="border: 1px solid black; min-height: 200px;">
			    <li class="col-sm-3">savings</li>
			    <li class="col-sm-3">bills</li>
			    <li class="col-sm-3">lunches</li>
			    <li class="col-sm-3">phone</li>
			    <li class="col-sm-3">travel</li>
			    <li class="col-sm-3">clothing</li>
				<li class="col-sm-3">activities</li>
			    <li class="col-sm-3">entertainment</li>
			    <li class="col-sm-3">emergency fund</li>
			</ul>
		</div>  
	</div>
	<button class="btn btn-primary btn-lg" onclick="submitClicked();"> I'm ready to make my budget </button>
  </div>
<!-- list -->
<div id="list">
	<div class="row" style="padding-bottom: 20px; padding-top: 50px;">
		<div class="col-xs-6" style="background-color: red; text-align: center;">
			<h2 class="">This budget:</h2>
			<div class="alert alert-warning listIsEmpty" >
			  <strong> <h3>It looks like you forgot to choose some items to make your budget with</h3></strong>
			  <div id="emptyListMessage" class="row">
			  	<h4>Would you like to to do that now?</h4>
			  	<button type="button" class="btn btn-success col-md-5 col-md-push-1" 
			  			style="margin-right: 5px;" onclick="showDragAndDrop()">Yes</button>
			  	<button type="button" class="btn btn-danger col-md-5 col-md-push-1" data-toggle="modal" data-target=".bs-example-modal-lg">No I don't want to make a budget</button>
			  </div>
			</div>
		</div>
	</div>
	<div class="container" id="prettyList"></div>
	<%= link_to "continue", new_budget_path(:chosen_fields => chosen_fields), id: "submitBtn", class: "bounce" %>
</div>

<%= javascript_include_tag   'before_new'  %>
<%= javascript_include_tag   'dragula'  %>
<%= javascript_include_tag   'example.min'  %>

<!-- the aim is to be able to pass differtnt path/routes to the variables below and dynamically link to them using the partial -->
<% errorMessage = "Are you sure you want to leave this page?"  %>
<% yesPath1 = root_path  %> <!-- not working as inteded yet -->
<% yesPath2 = "Yes I want to got to Y"  %> <!-- not working as inteded yet -->


 <!-- render the Error partial and pass it parameters (column name and its value) -->
 <%= render 'shared/errorModal',  :val1 =>  errorMessage,  :val2 =>  yesPath1,  :val3 =>  yesPath2 %>





