<% stylesheet_link_tag   'dragula'  %>
<%= stylesheet_link_tag   'before_new'  %>
<style>

</style>
<!-- Ruby variables -->
<% chosen_fields = "none" %>

<button href="#"  class="btn stickyBtn" onclick="showDragAndDrop();"><i class="fa fa-chevron-down fa-5x" ></i></button>

<div class='examples'>
	<div class='parent'>
		<h1>Choose your spending categories this week:</h1>
		<ul id='right-defaults' class=' col-sm-12' style="border: 2px dashed green; min-height:200px; margin-bottom: 15px; padding: 10px;"> </ul>
		<div class='wrapper col-sm-12'>
			<ul id='left-defaults' class='col-sm-12' style="border: 1px solid black; min-height: 200px;">
			    <li class="col-sm-3">savings</li>
			    <li class="col-sm-3">bills</li>
			    <li class="col-sm-3">lunches</li>
			    <li class="col-sm-3">phone</li>
			    <li class="col-sm-3">travel</li>
			    <li class="col-sm-3">clothing</li>
				<li class="col-sm-3">activities</li>
			    <li class="col-sm-3">entertainment</li>
			    <li class="col-sm-3">emergency fund</li>
			</ul>
		</div>  
	</div>
	<button class="btn btn-primary btn-lg" onclick="submitClicked();"> I'm ready to make my budget </button>
  </div>
<!-- list -->
<div id="list">
	<div class="row" style="padding-bottom: 20px; padding-top: 50px;">
		<div class="col-xs-6" style="background-color: red; text-align: center;">
			<h2 class="">This budget:</h2>
		</div>
	</div>
	<div class="container" id="prettyList"></div>
	<%= link_to "continue", new_budget_path(:chosen_fields => chosen_fields), id: "submitBtn", class: "bounce" %>
</div>

<%= javascript_include_tag   'before_new'  %>
<%= javascript_include_tag   'dragula'  %>
<%= javascript_include_tag   'example.min'  %>





