<!DOCTYPE html>
	<html>
		<head>
		  <title>MyMoneyCounts1</title>
		    <!-- application js -->
  			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		    <!-- application css -->
		  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  	<!-- bootstrap css  -->
		  	<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet", integrity:"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous" %>
		  	<!-- Bootstrap js -->
  			<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous" %>
		  	<!-- font awsome -->
		  	<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous" %>
		  	<!-- Additional files -->
		  	<!-- charts on show  -->
  			<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  			<% csrf_meta_tags %>
		</head>
	<body>
		<%= render 'pages/header' %>
		<div class="container">
		<%= yield %>
		</div>
	</body>
</html>
